

body {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: rgb(163, 185, 185);
}

ul > li > a {
    font-size: 30px !important;
    color: rgb(4, 49, 49) !important;
}

.carousel-item {
    height: 400px; /* Set a fixed height for the container */
    /* You may also need to set a min-height on the carousel-inner or the carousel itself */
}

.carousel-item img {
    height: 100%; /* Image takes 100% of the container's height */
    width: 100%; /* Image takes 100% of the container's width */
}


.search > .heading {
    text-align: center;
    color: rgb(15, 135, 135);
    
}
.search > .heading > h1 {
    margin: 20px 0;
    font-size: 60px;
    font-weight: 800;
    font-family:monospace;
    text-decoration: underline;
}

.input {
    text-align: center;
}
.input2 {
    width: 15vw;
    height: 10vh;
    border: none;
    outline: none;
    border-radius: 25px !important;
    margin-right: 20px;
    color: rgb(4, 49, 49) !important;
    font-weight: 700;
    background-color: #e1f4f4;
    font-size: 32px;
    text-align: center;
}


.input > button {
    width: 8vw;
    height: 6vh;
    font-size: 25px;
    font-weight: 500    ;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: rgb(92, 119, 137);
        
}

.toggle {
    display: none;
}

.parentdata {
    display: flex;
    justify-content: center;
}


.datacont {
    width: 70vw;
    margin-top: 20px;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
}

.feature {
    /* width: 200px; */
    width: 85%;
    text-align: center;
    border-radius: 25%;
    border: 2px solid rgb(52, 84, 105);
    height: auto;
    background-color: rgb(215, 249, 250);

}

.year {
    font-weight: bold;
}